extends layout.pug

block content
    .heading
      h1 About Us
    .about-txt
      span.greeting About Us
      p
        | We believe that no price is too high to pay for our customers&apos; satisfaction and wellbeing and hence our core values mentioned below are geared to meet that objective:
      br
      br
      ul
        li Quality is non-negotiable &amp; cannot be compromised under any condition.
        li The quest for novelty is continuous.
        li We are always loyal to our roots. 
      p
        | It is the group&apos;s mission to share with diners authentic and unique cuisines from the gonda. To give them a never-before experience and make them &apos;Feel Special&apos;.
      br
      br
      p
        | The group has always striven to go to great lengths to pamper and surprise patrons and ensure that every dining experience they have, is memorable. From sourcing ingredients from far-off lands to attentive service, it&apos;s all done with one objective - to give diners an experience they will cherish forever.
    