extends layout.pug

block content
    .heading
      h1 Gallery
    .gallery-pannel
      .gallery
        figure.gallery__item.gallery__item--1
          img.gallery__img(src='../static/images/Gallery/img1.jpg' alt='Image 1')
        figure.gallery__item.gallery__item--2
          img.gallery__img(src='../static/images/Gallery/img2.jpg' alt='Image 2')
        figure.gallery__item.gallery__item--3
          img.gallery__img(src='../static/images/Gallery/img3.jpg' alt='Image 3')
        figure.gallery__item.gallery__item--4
          img.gallery__img(src='../static/images/Gallery/img4.jpg' alt='Image 4')
        figure.gallery__item.gallery__item--5
          img.gallery__img(src='../static/images/Gallery/img5.jpg' alt='Image 5')
        figure.gallery__item.gallery__item--6
          img.gallery__img(src='../static/images/Gallery/img6.jpg' alt='Image 6')
      .gallery
        figure.gallery__item.gallery__item--9
          img.gallery__img(src='../static/images/Gallery/img7.jpg' alt='Image 1')
        figure.gallery__item.gallery__item--7
          img.gallery__img(src='../static/images/Gallery/img8.jpg' alt='Image 2')
        figure.gallery__item.gallery__item--8
          img.gallery__img(src='../static/images/Gallery/img9.jpg' alt='Image 3')
        figure.gallery__item.gallery__item--12
          img.gallery__img(src='../static/images/Gallery/img10.jpg' alt='Image 4')
        figure.gallery__item.gallery__item--11
          img.gallery__img(src='../static/images/Gallery/img11.jpg' alt='Image 5')
        figure.gallery__item.gallery__item--10
          img.gallery__img(src='../static/images/Gallery/img12.jpg' alt='Image 6')
      .gallery
        figure.gallery__item.gallery__item--1
          img.gallery__img(src='../static/images/Gallery/img13.jpg' alt='Image 1')
        figure.gallery__item.gallery__item--2
          img.gallery__img(src='../static/images/Gallery/img14.jpg' alt='Image 2')
        figure.gallery__item.gallery__item--3
          img.gallery__img(src='../static/images/Gallery/img15.jpg' alt='Image 3')
        figure.gallery__item.gallery__item--4
          img.gallery__img(src='../static/images/Gallery/img16.jpg' alt='Image 4')