extends layout.pug

block content
    .bg
      .quote
        i
          b Joy&apos;s Cafe
        p &quot;Delight in every bite&quot;
    span#home.greeting Welcome To Joy&apos;s Cafe
    .home
      .about
        h1 We are Speciality Restaurants
        p
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt nostrum, voluptatum enim tempore numquam nihil repellendus reprehenderit molestiae earum quidem. Sed amet ut nostrum. 
          br
          br
          |                 suscipit aperiam distinctio eum fuga harum officiis ipsum quam et nostrum corporis corrupti eius veniam deserunt commodi labore rem magni unde.
          br
          br
          |                 autem illo inventore delectus eum, deleniti ea consectetur fuga sunt assumenda eius! Tempore rem nostrum veritatis numquam officia minus.
      hr
      .cafe-img
        img(src='../static/images/cafe.jpg' alt='')
    .emptyspace1
      .quote
        | &apos;We Serve 
        b
          i Quality
        |  &apos;
    .mg
      .mg-123
        h1 Quality you can taste 
        p
          | We serve delicious vegetarian food made using fresh, quality
          br
          |                     ingredients catering to a multitude of taste preferences,
          br
          |                     without burning a hole in your wallet!
    .emptyspace2
      .quote
        | &apos;Where the flavor 
        br
        b
          i inebriates
        |  you&apos;
    br
    br
    //
      <div class="mg-124">
      </div>
    .mg-125
      span.greeting Choose and taste to your place
      .services
        .service-content
          img(src='../static/images/food4.png' alt='')
          .sctext
            h1 Delicious Menu
            br
            p
              | Our flavorful menu offers a wide variety of dishes. From samosas to dosas to curries with different spice levels, you&apos;re sure to find an item from our delicious menu right for you.
        .service-content
          img(src='../static/images/full_service.jpg' alt='')
          .sctext
            h1 Fair Price
            br
            p
              | Robust honest and full of flavor with finest &amp; freshest ingredients at fair prices.
        .service-content
          img(src='../static/images/Catering_service.jpg' alt='')
          .sctext
            h1 Catering Service
            br
            p
              | Tower offers a professional catering service perfect for any get-together or event. We offer buffet style, full service sit-down, and drop off options.
