extends layout.pug 

block content
    .heading
      h1 Menu
    .menu
      span.greeting Menu
      img.menu-img(src='../static/images/food-menu.jpg' alt='')
      br
      a(href='../static/images/food-menu.jpg' download)
        b Download Menu
